<form [formGroup]="tipoenvioForm">
  <div class="modal-header">
    <span>{{ modalHeader }}</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
        <label for="nombreTipoEnvio" class="col-sm-3 control-label">Tipo de Envío:</label>
        <div class="col-sm-9">
            <div class="input-group input-group-sm">
                <input type="hidden" id="codMarca" [(ngModel)]="item.codMarca"  [ngModelOptions]="{standalone: true}">
                <input type="text" class="form-control" id="nombreTipoEnvio" formControlName="nombreTipoEnvio" name="nombreTipoEnvio" [(ngModel)]="item.nombreTipoEnvio">
            </div>
            <div style="color:red;" *ngIf="tipoenvioForm.controls['nombreTipoEnvio'].hasError('required') && tipoenvioForm.controls['nombreTipoEnvio'].touched">El nombre del envío es obligatorio.</div>
        </div>
    </div>

    <div class="form-group">
      <label for="costoEnvio" class="col-sm-3 control-label">Costo de envío:</label>
      <div class="col-sm-9">
          <div class="input-group input-group-sm">
              <input type="text" class="form-control" id="costoEnvio" formControlName="costoEnvio" name="costoEnvio" [(ngModel)]="item.costoEnvio">
          </div>
          <div style="color:red;" *ngIf="tipoenvioForm.controls['costoEnvio'].hasError('required') && tipoenvioForm.controls['costoEnvio'].touched">El costo de envio es obligatorio.</div>
      </div>
  </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" [disabled]="tipoenvioForm.invalid" (click)="guardar()">Guardar</button>
    <button class="btn btn-sm btn-danger" (click)="closeModal()">Cerrar</button>
  </div>
  </form>
