<div class="modal-header">
    <span>{{ modalHeader }}</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="col-sm-12">
          <div class="input-group input-group-sm">
              <input type="text" placeholder="Buscar por Nombre y Apellidos o DPI" class="form-control"  [(ngModel)]="texto_busqueda">
              <span class="input-group-btn">
                  <button class="btn btn-info" (click)="buscarPersona()">Buscar</button>
              </span>
          </div>
          <div class="div-mensaje" [hidden]="!showMensaje">
            <span>{{mensaje}}</span>
          </div>
          <br>
          <div class="form-group" id="co-page-orderlist">
              <table class="table table-bordered table-hover table-sm table-fixed">
                <thead>
                  <tr>
                    <th>DPI</th>
                    <th>Nombre</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of lstPersonas; let i = index" (click)="seleccionar(item)">
                    <td>{{item.dpi}}</td>
                    <td>{{item.nombres}} {{item.apellidos}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
          
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-danger" (click)="closeModal()">Cerrar</button>
  </div>