.ngx-datepicker-calendar-container{
    z-index: 100;
  }

.div-mensaje{
  text-align: center;
  color: red;
}

.table-fixed tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #dbdbdb;
  cursor: pointer;
}

#co-page-orderlist {
  height: 250px;
  max-height: 250px;
  overflow: auto;
}