<div class="row">
  <div class="col-md-12">
      <nb-card>
          <nb-card-body>
              <div class="centrar">
                  <br/>
                  <br/>
                  <br/><br/>
                  <br/>
                  <br/><br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/><br/>
                  <br/>
                  <br/>
                  &nbsp;
              </div>
              
          </nb-card-body>
      </nb-card>
  </div>
</div>