@import '../@theme/styles/themes';

@include nb-install-component() {
  ::ngdeep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  nb-layout-footer {
    text-align: center;
    background-color: #3c3c3c;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    
    nav{
      background: #181818 !important;
      color: #ffffff;
      border: none !important;
    }
  }
}

