
<div class="row">
  <toaster-container [toasterconfig]="config"></toaster-container>
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Resumen de Pedidos
      </nb-card-header>
      <nb-card-body>
        <div class="row show-grid">
            <!-- <div class="col-md-3"><button class="btn btn-success btn-sm" (click)="nuevoRegistro()"><i class="fa fa-plus"></i> Nuevo registro</button></div> -->
            <div class="col-md-5"></div>

            <div class="col-md-12">
                <br>
                <ng2-smart-table [settings]="settings" [source]="source" (edit)="editarRegistro($event)" (delete)="eliminarRegistro($event)">
                </ng2-smart-table>
            </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

