<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Configuración - Informe Mensual</nb-card-header>
            <nb-card-body>
                <div class="row full-width">
                        <div class="form-group"> 
                            <label for="fec_ini" class="col-sm-6 control-label">Fecha de inicio:</label> 
                            <div class="col-sm-9 input-group input-group-sm"> 
                                    <input class="form-control" placeholder="dd/mm/yyyy" format="dd/MM/yyyy" name="fec_ini" [(ngModel)]="fec_ini" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group"> 
                            <label for="fec_fin" class="col-sm-6 control-label">Fecha fin:</label> 
                            <div class="col-sm-9 input-group input-group-sm"> 
                                    <input class="form-control" placeholder="dd/mm/yyyy" format="dd/MM/yyyy" name="fec_fin" [(ngModel)]="fec_fin" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                            </div>
                        </div>
                        
                        <div class="form-group"> 
                            <label for="formato" class="col-md-12 control-label">Formato:</label> 
                            <div class="col-md-12"> 
                                <div class="input-group input-group-sm">
                                        <select class="form-control" id="formato" name="formato" [(ngModel)]="formato">
                                            <option value="1">PDF</option>
                                            <option value="2">Excel</option>
                                        </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <br>
                            <button class="btn btn-sm btn-success" (click)="onReporte()">Generar reporte</button>
                        </div>
                        
                </div>
                
            </nb-card-body>
        </nb-card>
    </div>
</div>