<div class="row">
    <toaster-container [toasterconfig]="config"></toaster-container>
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
          Permisos del rol seleccionado
        </nb-card-header>
        <nb-card-body>
            <form (ngSubmit)="onSubmit()">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Nombre de Menú</th>
                      <th>Nombre de Página</th>
                      <th>Permiso</th>
                    </tr>
                  </thead>
                    <tbody>
                      <tr *ngFor="let item of items; let i = index">
                        <td class="td_col"> {{item.nom_menu}}</td>
                        <td class="td_col"> {{item.nombre}}</td>
                        <td class="td_col">
                            <select class="form-control" name="op{{i}}" [(ngModel)]="items[i].estado_permiso">
                              <option value="0">Deshabilitado</option>
                              <option value="1">Habilitado</option>
                            </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              <br>
              <button type="submit" class="btn btn-primary" >Guardar</button>
            </form>
        </nb-card-body>
      </nb-card>
    </div>
</div>