<div class="modal-header">
  <span>{{ modalHeader }}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="nombre" class="col-sm-3 control-label"
      >Tipo de Cambio:</label
    >
    <div class="col-sm-9">
      <div class="input-group input-group-sm">
        <input
          type="hidden"
          id="codDivisa"
          [(ngModel)]="item.codDivisa"
        />
        <input
          type="text"
          class="form-control"
          id="tipoCambio"
          name="tipoCambio"
          [(ngModel)]="item.tipoCambio"
        />
      </div>
    </div>
  </div>

 
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-primary" (click)="guardar()">Guardar</button>
  <button class="btn btn-sm btn-danger" (click)="closeModal()">Cerrar</button>
</div>

