<div class="row">
        <toaster-container [toasterconfig]="config"></toaster-container>
        <div class="col-md-12">
            <nb-card>
            <nb-card-header>
                Solicitud de Transfusión
            </nb-card-header>
            <nb-card-body>

                    <nb-tabset fullWidth>
                        <nb-tab tabTitle="Información de Transfusión">
                            <br>
                            <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group"> 
                                            <label for="fec_creacion" class="col-sm-12 control-label">Fecha de Solicitud:</label> 
                                            <div class="col-sm-12 input-group input-group-sm"> 
                                                <input class="form-control" placeholder="dd/mm/yyyy" format="dd/MM/yyyy" name="fec_creacion" [(ngModel)]="fec_creacion" ngbDatepicker #d="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-sm btn-outline-secondary" (click)="d.toggle()" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="form-group col-md-6"> 
                                        <label for="cantidad" class="col-sm-12 control-label">Receptor:</label> 
                                        <div class="col-sm-12"> 
                                            <div class="input-group input-group-sm">
                                                <input type="hidden" class="form-control" id="cod_persona" name="cod_persona" [(ngModel)]="item.cod_persona"> 
                                                <input type="text" class="form-control" readonly id="nom_receptor" name="nom_receptor" [(ngModel)]="nom_receptor">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-info" (click)="busqPersona(2)">Buscar Receptor</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group col-md-4"> 
                                        <label for="cod_servicio" class="col-sm-12 control-label">Servicio:</label> 
                                        <div class="col-sm-12"> 
                                            <div class="input-group input-group-sm">
                                                <select class="form-control ctrl-lst" id="cod_servicio" name="cod_servicio" [(ngModel)]="item.cod_servicio">
                                                    <option *ngFor="let item2 of lstServicios" value= {{item2.cod_servicio}}>{{item2.nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4"> 
                                        <label for="cod_transfusion" class="col-sm-12 control-label">Tipo de Transfusión:</label> 
                                        <div class="col-sm-12"> 
                                            <div class="input-group input-group-sm">
                                                <select class="form-control ctrl-lst" id="cod_transfusion" name="cod_transfusion" [(ngModel)]="item.cod_transfusion">
                                                        <option *ngFor="let item2 of lstTipoTransfusion" value= {{item2.cod_transfusion}}>{{item2.nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4"> 
                                        <label for="estado" class="col-sm-3 control-label">Estado:</label> 
                                        <div class="col-sm-9"> 
                                            <div class="input-group input-group-sm">
                                                <select class="form-control" id="estado" name="estado" [(ngModel)]="item.estado">
                                                    <option value="0">Descartada</option>
                                                    <option value="1">Aceptada</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group col-md-6"> 
                                        <label for="cantidad_sangre" class="col-sm-12 control-label">Unidades solicitadas:</label> 
                                        <div class="col-sm-12">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control" id="cantidad_sangre" name="cantidad_sangre" [(ngModel)]="item.cantidad_sangre"> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </nb-tab>
                    </nb-tabset>

                
            </nb-card-body>
            <nb-card-footer>
                <button class="btn btn-sm btn-primary" (click)="guardar()">Guardar</button>
                <button class="btn btn-sm btn-danger" (click)="closeModal()">Cancelar</button>
            </nb-card-footer>
        </nb-card>
    </div>